<head>
    <title> HOME</title>
  </head>

  <body>
    <h1>
          CUPP Online Demo
    </h1>
   
    <br>

   <h1>User Information </h1>

   <h2>
      Leave blank for answers that you may not know
    </h2>

    <form action="/target_info" method="POST">
      <input type="text"name="targetName"placeholder="First name of the target" >
        <br>
        <br>
      <input type="text"name="targetSurname"placeholder="Last name of the target" >
        <br>
        <br>
      <input type="text"name="targetNickname"placeholder="Nickname of the target" >
        <br>
        <br>
      <input type="text"name="targetBirthday" style="width: 400px;" placeholder="Birthday of the target (DDMMYYYY)" >
        <br>
        <br>
      <input type="text"name="partnerName"placeholder="First name of the target's partner" >
        <br>
        <br>
      <input type="text"name="partnerNickname"placeholder="Nickname of the target's partner" >
        <br>
        <br>
      <input type="text"name="partnerBirthday" style="width: 400px;" placeholder="Birthday of the target's partner (DDMMYYYY)" >
        <br>
        <br>
      <input type="text"name="childName"placeholder="First name of the target's child" >
        <br>
        <br>
      <input type="text"name="childNickname"placeholder="Nickname of the target's child" >
        <br>
        <br>
      <input type="text"name="childBirthday" style="width: 400px;" placeholder="Birthday of the target's child (DDMMYYYY)" >
        <br>
        <br>
      <input type="text"name="petName"placeholder="First name of the target's pet" >
        <br>
        <br>
      <input type="text"name="company"placeholder="target's workplace/company" >
        <br>
        <br>
      <input type="text"name="keywords"placeholder="Enter in comma seperated words (e.g. juice, coffee,pastry)" >
        <br>
        <br>

        
          <label for="specialChars">Make a selection:</label>
          <select name="chars" id="chars">
            <option value="y">Yes Special Characters</option>
            <option value="n">No Special Characters</option>
          </select>
          <br><br>

          <label for="specialNums">Make a selection:</label>
          <select name="nums" id="nums">
            <option value="y">Yes Special Numbers</option>
            <option value="n">No Special Numbers</option>
          </select>
          <br><br>

          <label for="specialLeet">Make a selection:</label>
          <select name="leet" id="leet">
            <option value="y">Leet Mode</option>
            <option value="n">No Leet Mode</option>
          </select>
    
        <br>
        <br>
        <br>
    
      <input type="submit" name="Submit">
    </form>
    
  </body>

</html>